:root {
    --color-primary: #4a90e2;
    --color-secondary: #50e3c2;
    --color-tertiary: #9013fe;
    --color-quaternary: #f5a623;
    --color-quinary: #d0021b;
    --color-senary: #7ed321;
    --color-septenary: #f8e71c;
    --color-octonary: #bd10e0;
    --color-nonary: #4a4a4a;
    --color-decimal: #9b9b9b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--color-nonary);
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 2rem;
    margin: 0 auto;
}

nav {height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background :  rgba(49, 25, 202, 0.513);
    color: white
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav ul li {
    cursor: pointer;
    transition: color 0.3s ease;
}

nav ul li:hover {
    color: var(--color-secondary);
}

nav ul li a {
    display: inline-block;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    transition: 0.5s;
    padding: 0 30px;
}

nav ul li a:hover{
    transform: scale(1.2);
    color: #15118b;
    letter-spacing: 6px ;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 2rem;
}

.container h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
    color: rgba(106, 44, 136, 0.625);
}

.container h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: rgb(238, 210, 100);
    letter-spacing:2px ;
}

.container p {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--color-nonary);
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.content .card {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 1rem;
    width: calc(33% - 4rem);
    height: 20rem;
    transition: transform 0.3s ease;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    background-color: var(--color-secondary);
    color: var(--decimal-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(203, 101, 195)
}

.card{
    border: #4a90e2 solid 2px;
    background: linear-gradient(rgba(116, 116, 167, 0.344) , rgba(200, 200, 75, 0.779));
}
.card h2{
    color: #c32c57b6;
    text-transform: capitalize;
    text-align: center;
}
.card p{
    font-size: 1.2em;
    color: #7044cf5e;
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  #openModal {
    display: flex;
    position: absolute;
    left: 40%;
    bottom: 40%;
    justify-content:center ;
    align-items: center;
    color: red;
    font-size: 2.2em;
    font-weight: 600;
    padding: 20px;
    border-radius: 30px;
    transition: 0.5s;
    text-transform: uppercase;
  }
  
  #openModal:hover{
    transform: scale(1.2);
    background: rgb(145, 209, 216);
    color: white;
  }
  .modal-content {
    background-color: #d7cfa2;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    border-radius: 30px;
  }
  
  /* Bouton de fermeture */
  .close {
    color: #1b3096;
    float: right;
    font-size: 28px;
    cursor: pointer;
  }
  .close:hover {
    color: #000000;
  }

  :root {
    --primary-color: #ff6347; /* Tomate */
    --secondary-color: #b7b7b7; /* Gris foncé */
    --background: linear-gradient(
      to right,
      #6c49a5,
      #351dac
    ); /* Dégradé de pêche */
    --text-color: #000; /* Noir */
    --footer-color: #6a49d6; /* Gris moyen */
  }

  body {
    background: var(
      --background
    ); /* Utilisation de la propriété background */
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  h1 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 20px;
  }

  p {
    color: var(--secondary-color);
    text-align: center;
    margin: 10px 0;
  }

  footer {
    background: var(--footer-color);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }